run = "python main.py"
language = "python3"
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-23_11"
packages = ["python311Packages.uvicorn"]

[deployment]
run = "python main.py --web"
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 8080
externalPort = 80
